In [3]:
import pandas as pd
import numpy as np

In [2]:
Regiones = ['I','II','III','IV','V','VI','VII','VIII','IX','X','XI','XII','XIII','XIV','XV','XVI']

In [93]:
xd_gn = pd.read_excel(r'D:\Desktop\Actualización Demanda\Agosto\Estadísticas SEC\2021\ESTADISTICAS-DE-VENTAS-DE-GAS-DE-RED-CONCESIONADO-ENERO-DICIEMBRE-2021.xlsx',skiprows=4).drop(columns='Mes').dropna()

# Diccionario para mapear nombres de regiones a números romanos
regiones_romanas = {
    'Tarapacá': 'I',
    'Antofagasta': 'II',
    'Atacama': 'III',
    'Coquimbo': 'IV',
    'Valparaíso': 'V',
    "O'Higgins": 'VI',
    'Maule': 'VII',
    'Bío-Bío': 'VIII',
    'Araucanía': 'IX',
    'Los Lagos': 'X',
    'Aisén del Gral.Carlos Ibáñez del Campo': 'XI',
    'Magallanes': 'XII',
    'Metropolitana': 'XIII',
    'Los Ríos': 'XIV',
    'Arica y Parinacota': 'XV',
    'Ñuble': 'XVI'
}

# Agregar una nueva columna 'Región Romana' con los números romanos correspondientes
xd_gn['Región Romana'] = xd_gn['Región'].map(regiones_romanas)

xd_gn = xd_gn.drop(columns='Región')
xd_gn = xd_gn.rename(columns={'Fiscal':'Público','Vehicular':'Todos, T','Región Romana': 'Región','Tipo Gas':'Combustible','Industrial':'Todos, IM'})
xd_gn['Todos, CP'] = xd_gn['Consumo Propio'] + xd_gn['Distribuidoras']
gn_final = xd_gn[['Región','Combustible','Comercial','Todos, IM','Residencial','Público','Todos, T','Todos, CP']]
df_gn = gn_final.groupby(['Región','Combustible']).sum().reset_index()

# Lista de columnas numéricas
columnas_numericas = df_gn.columns.difference(['Región', 'Combustible'])

# Dividir por 1000 las columnas numéricas
df_gn[columnas_numericas] = df_gn[columnas_numericas] / 1000

df_gn_2 = df_gn.melt(id_vars=['Región','Combustible'], var_name='Sector', value_name='Energia estimada')
df_gn_2.columns = ['Región','Energético','Subsector','Energia estimada']
df_gn_2 = df_gn_2[['Región','Subsector','Energético','Energia estimada']]
df_gn_2

   Región  Subsector   Energético  Energia estimada
0      II  Comercial  Gas Natural          0.793143
1      IV  Comercial  Gas Natural          0.296638
2      IX  Comercial  Gas Natural          4.320709
3       V  Comercial  Gas Natural          9.585355
4      VI  Comercial  Gas Natural          0.549501
..    ...        ...          ...               ...
61   VIII  Todos, CP  Gas Natural          0.027523
62      X  Todos, CP  Gas Natural          0.000000
63    XII  Todos, CP  Gas Natural          0.401592
64   XIII  Todos, CP  Gas Natural          0.000000
65    XVI  Todos, CP  Gas Natural          0.001831

[66 rows x 4 columns]